html{
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
.header{
    color: white;
    text-align: center;
    background-image: url(../backgroundImages/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:auto ;
    padding-top: 30px;
    /* padding-bottom: 17%; */
    
    
    
    
}
.logo{
    padding-top: 100px;
}
.header h2{
    padding-top: 50px;
}
#amazing{
    font-size: 13px;
}
.center{
    padding-top: 110px;
    padding-bottom: 15px;
}
.about{
    text-align: center;
    padding: 2%;
}
.about p {
    font-size: 14px;
}
.services{
    text-align: center;
    font-size: 13px;
    color: white;
    background-image:url(../backgroundImages/s_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:100% ;
    padding-top: 5%;
    padding-bottom: 5%;
}
.wedo{
     text-align: center;
     padding-top: 15px;
}
.descriptions p{
    display: none;
    text-align:center
}
.center1{
     
    display: block;
    margin-left: auto;
    margin-right: auto;
        
      
}
.descr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}
.descr1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}
.descr2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.center2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 5%;
        
}
.projects{
    margin-left: 100px;
    margin-right: 100px;
}
.contact{
    text-align: center;
    /* color: transparent; */
    background:url(../backgroundImages/c_image.jpg);
    opacity: 0.9;
    padding-bottom: 5%;
    padding-top:1%;
    background-size: cover;
    
    
   }
   .contact h4{
    padding-top: 3%;
    color: white;
    font-weight: 800;
   }
   input{
    background: transparent;
    /* color: transparent; */
    border: 1px whitesmoke solid;
    width: 32%;
    
  }
  textarea{
    background: transparent;
    /* color: transparent; */
    border: 1px whitesmoke solid;
  }
  ::placeholder{
      color: white;
  }
  #btn{
      border:1px solid white;
      border-radius:10%;
      width: 15%;
      background:transparent;
      color: white;
  }
  .footer h6{
      text-align: center;
      padding-top: 3%;
  }
  .footer {
    text-align: center;
}
  .footer img{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
  }
  @media screen and (max-width:500px) {
      .contact {
      display:block;    
      
      }
      input textarea{
        width: 70%;
      }
       
  }
  @media screen and (max-width:600px) {
    .contact {
    display:block;    
    
    }
    input textarea{
      width: 70%;
    }
     
}
@media screen and (max-width:700px) {
    .contact {
    display:block;    
    
    }
    textarea{
      width: 70%;
    }
     
}
@media screen and (max-width:800px) {
    .contact {
    display:block;    
    
    }
    input textarea{
      width: 70%;
    }
     
}
@media screen and (max-width:900px) {
    .contact {
    display:block;    
    
    }
    input textarea{
      width: 70%;
    }
     
}
@media screen and (max-width:1000px) {
    .contact {
    display:block;    
    
    }
  textarea{
      width: 70%;
    }
    input {
        width: 80%;
    }
     
}